/* header */

header {
    min-height: 100vh;
}

.bg-image {
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
}

.line {
    width: 5px;
    height: 300px;
    background-color: #f2c689;
}

.top-line {
    position: absolute;
    top: 60px;
    left: 100px;
}

.bot-line {
    position: absolute;
    top: 550px;
    left: 100px;
}

.socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 375px;
    left: 85px;
}

.socials-container i {
    font-size: 35px;
    margin: 10px 0;
    transition: 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
    transform: scale(1.1);
}

.fa-x-twitter:hover {
    color: black;
    transform: scale(1.1);
}

.fa-instagram:hover {
    color: #E1306C;
    transform: scale(1.1);
}

.presentation {
    /* background-color: red; */
    width: 600px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 200px;
    font-family: sans-serif;
    color: #FAE489;
}

h1 {
    font-size: 60px;
    /* text-transform: uppercase; */
}

.presentation-text p {
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
}

.about-btn {
    width: 180px;
    height: 50px;
    margin-top: 50px;
    background-color: transparent;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    font-size: 18px; 
}

.about-btn:hover {
    background-color: white;
    color: black;
}

#scroll {
    position: absolute;
    top: 800px;
    left: 1000px;
}

#scroll a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroll a p {
    font-size: 24px;
}

#scroll a span {
    width: 24px;
    height: 24px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* about */
.about{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    


}
.right {
    width: 50%;
    height: 100vh;
    background-color: red;
    background-image: url(../images/dydy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
}

.left {
    width: 50%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    font-family: sans-serif;
    background-image: url(../images/henry.jpg) ;
    background-size: cover;
    color: #f2c689;
    
}
.filtre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.left h2 {
    font-size: 50px;
    /* margin-top: 45%; */
}
.left p{
    font-size: 24px;
    text-align: justify;
    margin: 50px;
    line-height: 40px;
}


/* contact */
.contact {
    min-height: 100vh;
    display: flex;
}

.contact .bg-photo {
    flex: 1;
    height: 100vh;
    max-width: 40vw;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    flex: 1;
    min-height: 100vh;
    max-width: 60vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

form h2 {
    font-size: 40px;
    color: black;
    text-decoration: underline;
}

.contact-container {
    width: 100%;
    padding: 0 100px;
}

.contact-container h3 {
    font-size: 30px;
    color: black;
}

.ligne {
    display: flex;
    height: 200px;
    width: 100%;
    padding: 20px 50px;
}


.box-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 50px;
}

label {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

input {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    font-weight: bold;
}

input:focus {
    border-bottom: 2px solid #f2c689;
}

.message-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 100px;
}

.btn {
    margin-right: 600px;
    margin-top: 80px;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid #f2c689;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #f2c689;
    color: white;
}


footer {
    min-height: 20vh;
    width: 100%;
    background-color: #f2c689;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-container {
    display: flex;
}

.links-container a {
    margin: 20px 0;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.links-container a:hover {
    text-decoration: underline;
}

.first {
    margin-right: 100px;
}

.first, .second {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.socials p {
    padding-left: 15px;
}

.socials-box a {
    margin: 0 15px;
    color: white;
}

.socials-box a i {
    font-size: 30px;
    transition: 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
    transform: scale(1.1);
}

.fa-x-twitter:hover {
    color: black;
    transform: scale(1.1);
}

.fa-instagram:hover {
    color: #E1306C;
    transform: scale(1.1);
}


/* Gallery */

.gallery h2 {
    color: #f2c689;
    width: 100%;
    font-size: 40px;
} 

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: whitesmoke;
  }
  
  .colonne {
    flex: 33%;
    max-width: 33%;
  }
  
  .colonne img {
    display: flex;
    align-items: center;
    width: 450px;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 15px 5px #C7C7C7;
  }
  
  @media screen and (max-width: 800px) {
    .colonne {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .colonne {
      flex: 100%;
      max-width: 100%;
    }
  }


  /* footer */

footer {
    min-height: 20vh;
    width: 100%;
    background-color: #f2c689;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-container {
    display: flex;
}

.links-container a {
    margin: 20px 0;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.links-container a:hover {
    text-decoration: underline;
}

.first {
    margin-right: 100px;
}

.first, .second {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.socials p {
    padding-left: 15px;
}

.socials-box a {
    margin: 0 15px;
    color: white;
}

.socials-box a i {
    font-size: 30px;
    transition: 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
    transform: scale(1.1);
}

.fa-x-twitter:hover {
    color: black;
    transform: scale(1.1);
}

.fa-instagram:hover {
    color: #E1306C;
    transform: scale(1.1);
}
